@model IEnumerable<JobBoardCOMP2084LU1206780.Models.JobListing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
	        <td>
                    @if (User.Identity.IsAuthenticated)
		        {
			        <a asp-action="Edit" asp-route-id="@item.JobListingId">Edit</a> 
		        }
		        <a asp-action="Details" asp-route-id="@item.JobListingId">Details</a>
                    @if (User.Identity.IsAuthenticated)
		        {
			        <a asp-action="Delete" asp-route-id="@item.JobListingId">Delete</a>
		        }
	        </td>
        </tr>
}
    </tbody>
</table>
